.cartitems{
    margin: 100px 170px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 600;
}
.carticon-product-icon{
    height: 62px;
}
.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #ffff;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-top: 20px;
    gap: 40px;
}

.cartitems-total-item{
    display: flex;
    justify-content:space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 262px;
    height: 39px;
    background: #ff5a5a;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.cartitems-promocode{
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 19px;
    font-weight: 600;
}
.cartitems-promocode p{
    color: #555;

}
.cartitems-promobox{
    width: 504px;
    margin-top: 50px;
    padding-top:20px ;
    height: 30px;
    background: #ffffff;
}
.cartitems-promobox input{
    width: 470px;
    height: 15px;
    border:none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.cartitems-promobox button{
    width: 100px;
    height: 58px;
    margin-top: 30px;
    font-size: 16px;
    background: rgb(209, 14, 14);
    border-radius: 20px;
    color: white;
    cursor: pointer;
}