.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.relatedproducts h1{
    color: #171717;
    font-size: 45px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 5px;
    border-radius: 10px;
    background: #252555;
}
.relatedproduct-item{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}